In [1]:
import os

import pymongo
from pymongo import MongoClient
from collections import Counter

client = MongoClient('mongodb://10.237.26.25:27017/')
db = client['media-db']

In [2]:
import pandas as pd

In [3]:
from nltk.tokenize import sent_tokenize, word_tokenize

In [4]:
df_std = pd.read_csv('anom_detection/df_anom_std.csv')

In [5]:
df_std.head()

,0,DT_CEN_CD,ST_CEN_CD,ST_NM,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Adilabad,1,28,Andhra Pradesh,Oct-12,Feb-15,Aug-12,Sep-12,Nov-14,Mar-16,Dec-16,NaN,NaN,NaN,NaN,NaN,NaN
1,Agra,15,9,Uttar Pradesh,May-13,Jun-13,Apr-15,Jul-12,Aug-14,Oct-15,Dec-16,NaN,NaN,NaN,NaN,NaN,NaN
2,Ahmadnagar,26,27,Maharashtra,Feb-15,Oct-16,Jul-12,Jun-13,Nov-14,Sep-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Aizawl,3,15,Mizoram,Oct-13,Feb-15,May-16,Jan-17,Jul-13,Nov-14,Mar-16,NaN,NaN,NaN,NaN,NaN,NaN
4,Ajmer,21,8,Rajasthan,Jul-12,Jan-15,Oct-16,Aug-12,Nov-14,Sep-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
state = 'Assam'

In [7]:
dist_list = df_std[df_std['ST_NM'] == state]['0'].values.tolist()

In [8]:
dist_list = [word.lower() for word in dist_list]

In [9]:
folder_name = state+'/txt_files/'

In [10]:
if not os.path.exists(folder_name):
    os.makedirs(folder_name)

In [12]:
len(dist_list)

26

In [13]:
x=db.articles.find({'publishedDate':{'$regex':'2012|2013|2014|2015|2016|2017|2018'}},no_cursor_timeout=True)

In [14]:
x=db.articles.find({'publishedDate':{'$regex':'2012-09'}},no_cursor_timeout=True)

In [ ]:
count = 0
count_temp = 0
for item in x:
    if (item['text'] != 'It looks like nothing was found at this location. Maybe try a search?Search for:'):
        words_list = word_tokenize(item['text'].lower())
        if len(set(dist_list).intersection(set(words_list)))>0:
            itm_date = item['publishedDate']
            itm_date = (itm_date[:itm_date.rfind("-")])
            f_name = folder_name + str(state) +"_"+ str(itm_date) + '.txt'
            f = open(f_name,'a')
            f2 = open(f_name,'r')
            text = f2.read()

            if text.find(str(item['_id']) + ' |&|') != -1:
                continue
                 
            heading = item['articleTitle']
            f.write(str(item['_id']) + " |&| " + item['sourceName'] + " |&| " + item['publishedDate'])
            f.write('\n'+heading.encode('utf-8')+'\n')
            f.write(item['text']+'\n')
            print >> f
            print >> f
            
            count = count + 1
            count_temp += 1
            if count_temp >= 100:
                print count
                count_temp = 0

In [ ]:
date_2012 = '2012-05|2012-06|2012-07|2012-08|2012-09|2012-10|2012-11|2012-12|'

In [ ]:
date_2013 = '2013-01|2013-02|2013-03|2013-04|2013-05|2013-06|2013-07|2013-08|2013-09|2013-10|2013-11|2013-12|'

In [ ]:
date_2014 = '2014-01|2014-02|2014-03|2014-04|2014-05|2014-06|2014-07|2014-08|2014-09|2014-10|2014-11|2014-12|'

In [ ]:
date_2015 = '2015-01|2015-02|2015-03|2015-04|2015-05|2015-06|2015-07|2015-08|2015-09|2015-10|2015-11|2015-12|'

In [ ]:
date_2016 = '2016-01|2016-02|2016-03|2016-04|2016-05|2016-06|2016-07|2016-08'

In [ ]:
date_list = date_2012 + date_2013 + date_2014 + date_2015 + date_2016

In [ ]:
date_list = '2012|2013|2014'

In [ ]:
x = db.article.find({'publishedDate':{'$regex':date_list}},no_cursor_timeout=True)