In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%pylab

Using matplotlib backend: Qt5Agg
Populating the interactive namespace from numpy and matplotlib

In [2]:
import datetime as dt

In [3]:
anom_sd1 = pd.read_excel('Anom_SD1.xlsx')

In [4]:
anom_sd1.head()

,Pkey,128,1509,2627,315,2108,527,1132,1209,4823,...,Unnamed: 2308,Unnamed: 2309,Unnamed: 2310,Unnamed: 2311,Unnamed: 2312,Unnamed: 2313,Unnamed: 2314,Unnamed: 2315,Unnamed: 2316,Unnamed: 2317
0,DISTRICT,Adilabad,Agra,Ahmadnagar,Aizawl,Ajmer,Akola,Alappuzha,Aligarh,Alirajpur,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DT_CEN_CD,1,15,26,3,21,5,11,12,48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ST_CEN_CD,28,9,27,15,8,27,32,9,23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ST_NM,Andhra Pradesh,Uttar Pradesh,Maharashtra,Mizoram,Rajasthan,Maharashtra,Kerala,Uttar Pradesh,Madhya Pradesh,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Label,NaN,Large City,NaN,NaN,Large City,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
cols = anom_sd1.columns.tolist()

In [6]:
raw = anom_sd1[cols[:cols.index( u'MA(TS-MA)')]]

In [7]:
raw.columns = raw[0:1].values.tolist()

In [8]:
raw = raw[1:]

In [9]:
raw_cols = raw.columns.tolist()

In [ ]:
dist = 'Gorakhpur'

In [ ]:
dist in raw_cols

In [116]:
month = 10

In [117]:
year = 2015

In [95]:
## for dist
f_name =  str(dist)+'_feb_2017'

In [120]:
title = 'Haryana elections 2015 /n '+ f_name

In [121]:
file_name = f_name +'.png'

In [122]:
time_line = raw['DISTRICT'][6:-1].values.tolist()

In [123]:
time_line

[datetime.datetime(2012, 5, 1, 0, 0),
 datetime.datetime(2012, 6, 1, 0, 0),
 datetime.datetime(2012, 7, 1, 0, 0),
 datetime.datetime(2012, 8, 1, 0, 0),
 datetime.datetime(2012, 9, 1, 0, 0),
 datetime.datetime(2012, 10, 1, 0, 0),
 datetime.datetime(2012, 11, 1, 0, 0),
 datetime.datetime(2012, 12, 1, 0, 0),
 datetime.datetime(2013, 1, 1, 0, 0),
 datetime.datetime(2013, 2, 1, 0, 0),
 datetime.datetime(2013, 3, 1, 0, 0),
 datetime.datetime(2013, 4, 1, 0, 0),
 datetime.datetime(2013, 5, 1, 0, 0),
 datetime.datetime(2013, 6, 1, 0, 0),
 datetime.datetime(2013, 7, 1, 0, 0),
 datetime.datetime(2013, 8, 1, 0, 0),
 datetime.datetime(2013, 9, 1, 0, 0),
 datetime.datetime(2013, 10, 1, 0, 0),
 datetime.datetime(2013, 11, 1, 0, 0),
 datetime.datetime(2013, 12, 1, 0, 0),
 datetime.datetime(2014, 1, 1, 0, 0),
 datetime.datetime(2014, 2, 1, 0, 0),
 datetime.datetime(2014, 3, 1, 0, 0),
 datetime.datetime(2014, 4, 1, 0, 0),
 datetime.datetime(2014, 5, 1, 0, 0),
 datetime.datetime(2014, 6, 1, 0, 0),
 datetime.datetime(2014, 7, 1, 0, 0),
 datetime.datetime(2014, 8, 1, 0, 0),
 datetime.datetime(2014, 9, 1, 0, 0),
 datetime.datetime(2014, 10, 1, 0, 0),
 datetime.datetime(2014, 11, 1, 0, 0),
 datetime.datetime(2014, 12, 1, 0, 0),
 datetime.datetime(2015, 1, 1, 0, 0),
 datetime.datetime(2015, 2, 1, 0, 0),
 datetime.datetime(2015, 3, 1, 0, 0),
 datetime.datetime(2015, 4, 1, 0, 0),
 datetime.datetime(2015, 5, 1, 0, 0),
 datetime.datetime(2015, 6, 1, 0, 0),
 datetime.datetime(2015, 7, 1, 0, 0),
 datetime.datetime(2015, 8, 1, 0, 0),
 datetime.datetime(2015, 9, 1, 0, 0),
 datetime.datetime(2015, 10, 1, 0, 0),
 datetime.datetime(2015, 11, 1, 0, 0),
 datetime.datetime(2015, 12, 1, 0, 0),
 datetime.datetime(2016, 1, 1, 0, 0),
 datetime.datetime(2016, 2, 1, 0, 0),
 datetime.datetime(2016, 3, 1, 0, 0),
 datetime.datetime(2016, 4, 1, 0, 0),
 datetime.datetime(2016, 5, 1, 0, 0),
 datetime.datetime(2016, 6, 1, 0, 0),
 datetime.datetime(2016, 7, 1, 0, 0),
 datetime.datetime(2016, 8, 1, 0, 0),
 datetime.datetime(2016, 9, 1, 0, 0),
 datetime.datetime(2016, 10, 1, 0, 0),
 datetime.datetime(2016, 11, 1, 0, 0),
 datetime.datetime(2016, 12, 1, 0, 0),
 datetime.datetime(2017, 1, 1, 0, 0),
 datetime.datetime(2017, 2, 1, 0, 0),
 datetime.datetime(2017, 3, 1, 0, 0)]

In [124]:
ntl_values = raw[dist][6:-1].values.tolist()

In [127]:
np.shape(ntl_values)

(59,)

In [128]:
np.shape(time_line)

(59,)

In [129]:
month_name = ['0','jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec']

In [138]:
A = range(len(time_line))
B = ntl_values

In [139]:
plt.plot(A,B)
plt.plot(A,B,'ko')
plt.title(title)
plt.ylabel('raw_values')
plt.grid()

In [140]:
month_dates = list()
month_vals = list()
for i,time_value in enumerate(time_line):
    if time_value.month == month:
        ## putting the values in list
        month_vals.append(B[i])
        
        ## highlighting all that months
        data_label = month_name[time_value.month]+str(time_value.year)[2:]
        month_dates.append(data_label)
        plt.plot(A[i],B[i],'ko',markerfacecolor='None',markeredgecolor='black',markersize=15)
        plt.annotate(data_label,xy=(A[i]+1,B[i]))
        
        ## highlighting that year
        if time_value.year == year:
            year_val = B[i]
            plt.plot(A[i],B[i],'ks',markerfacecolor='None',markeredgecolor='black',markersize=15)

In [141]:
plt.savefig(file_name)

In [142]:
month_std = np.std(month_vals,ddof=1)
month_mean = np.mean(month_vals)

In [143]:
(year_val - month_mean)/month_std

0.14722906353635881

In [144]:
month_std

4.4230219475889525

In [145]:
month_dates

['oct12', 'oct13', 'oct14', 'oct15', 'oct16']

In [92]:
pd.DataFrame(month_vals,month_dates)

              0
feb13  5.229287
feb14  5.468529
feb15  3.994657
feb16  3.255206
feb17  3.840431